/*----------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100vh;
}

.App, #root {
  width: 100%;
  height: 100%;
}

@import './colors';
@import './effects';

//Containers
@import '../containers/Home/Home';
@import '../containers/About/About';
@import '../containers/Portfolio/Portfolio';
@import '../containers/Blog/Blog';
@import '../containers/Contact/Contact';

//Components
@import '../components/Navbar/Navbar';
@import '../components/Background/Background';




