@import './MenuBtn/MenuBtn';
@import './Logo/Logo';
@import './Links/Links';
@import './Sidebar/Sidebar';

.Navbar {
  height: 10vh;
  width: 100%;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  @include shadow;

  .Navbar-Nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
}
