.Navbar-sidebar {
  background-color: $light-grey;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 40%;
  left: -45%;

  @include slide-in;
  @include side-shadow;

  .Navbar-sidebar-links {
    list-style: none;
    text-align: center;

    .Navbar-sidebar-link {
      background-color: $dark-grey;
      
      a{
        color: $light-green;
        text-decoration: none;
        font-size: 12px;    
      }
    }
  }

  .Navbar-sidebar-close {
    margin-left: 80%;
    font-size: 20px;
    @include rm-btn-style;

    svg {
      background-color: $dark-grey;
      border-radius: 25px; 
      width: 12px;
      height: 12px;

      line{
        stroke: $light-green;
      }
    }
  }

  //display none after 768px
  @media only screen and (min-width: 767px) {
    display: none;
  }
}