.Navbar-sidebar {
  background-color: $light-green;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 40%;
  left: -40%;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  transition: left 0.2s linear;

  .Navbar-sidebar-links {
    list-style: none;

    .Navbar-sidebar-link {
      a{
        color: $dark-grey;
        text-decoration: none;
        font-size: 12px;    
      }
    }
  }

  .Navbar-sidebar-close {
    margin-left: 80%;
    font-size: 20px;
    @include rm-btn-style;
  }

  //display none after 768px
  @media only screen and (min-width: 767px) {
    display: none;
  }

}